*
!.gitignore
!mhdx_tools/**
!models
!models/**
mhdx_tools.egg-info/
mhdx_tools.egg-info/**
**/__pycache__/
**/__pycache__/*
**/__pycache__/**
**/.ipynb_checkpoints/
**/.ipynb_checkpoints/*
**/.ipynb_checkpoints/**
**/.DS_Store